p {
	color: #ffff00;
	font-size: 1.5em;
	text-shadow: 2px 2px 4px #000;
	
}

body {
	font-family: Ariel, Verdana, sans-serif

}

/* change the background, level one- three heading color, and strong word color.*/

#container {
	border: 3px solid #ffff00;
	padding: 10px;
	background-image: url("../images/group_prayer.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}


}

/* Columns 1 of 2 and 2 of 2*/


#column1of2 {
	background-color: #ffff00;
	float: left;
	margin-left: 10px;
	margin: 50px;
}

#column2of2 {
	margin-left: 10px;
	margin: 50px;
	
}



strong {
	color: #ffffff;
}

/* Change the font size, align and add a shadow of the level one header*/
h1 {
	font-size: 6.0em;
	text-shadow: 2px 2px 4px #ffff00;
	text-align: center;
	
	
}

#content {
	float: left;
	margin: 30px;
	overflow: auto;
}


/* Change the font size, text shadow and center text of h2, h3, h4.*/
h2, h3, h4 {
	color: #000;
	font-size: 3.5em;
	text-align: center;
	text-shadow: 2px 2px 4px #ffff00;
}
/* Made a border for the navigation and performance and also centered the text.*/

ul {
	text-align: center;
	width: 625px;
	border-top: 2px solid #ffff00;
	border-bottom: 1px solid #ffff00;
	padding: 15px;
	margin: 0 auto;
	list-style-type: none;
	color: #ffff00;
	font-size: 1.2em;
	margin-bottom: 20px;
	text-shadow: 2px 2px 4px #000;
}

/* align the links */
li {
display: inline-block;
margin: 0 6px;

}

/*	Links	*/
a:visited {
	color: #ffff00;
}

a:hover {
	color: #00ffff;
	text-decoration: none;
}

a:active {
 
 	color: #ffffff;

}
/* 	Main Picture	*/
figure	{

	text-align: center;
}

table {

}